/* css reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* general */
html {
    font-size: 62.5%;
}

/* mobile font size */
h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

/* tablet font size */
@media screen and (min-width:768px){
    h1{
        font-size: 4.6rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/* desktop font size */
@media screen and (min-width:1024px) {
    h1 {
        font-size: 7.6rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/* header */
/* mobile design */
.header {
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2.5rem;
}

.navbar__logo {
    align-self: end;
}

.bar-one,
.bar-two {
    width: 40px;
    height: 4px;
    background-color: #1D2939;
    margin-top: 9px;
}

.bar-three {
    width: 24px;
    height: 4px;
    background-color: #1D2939;
    margin-top: 9px;
    margin-left: 16px;
}

.navbar__links,
.navbar__cta {
    display: none;
}