/* css reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* general */
html {
    font-size: 62.5%;
}

/* mobile font size */
h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

/* tablet font size */
@media screen and (min-width:768px){
    h1{
        font-size: 4.6rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/* desktop font size */
@media screen and (min-width:1024px) {
    h1 {
        font-size: 7.6rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/* header */
/* navbar : mobile version */
.header {
    background-color: #fff;
    display: block;
    box-shadow: 0px 4px 70px 0px #1e283414;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    align-self: center;
    display: flex;
}

.bar-one,
.bar-two {
    width: 40px;
    height: 4px;
    background-color: #1D2939;
    margin-top: 9px;
}

.bar-three {
    width: 24px;
    height: 4px;
    background-color: #1D2939;
    margin-top: 9px;
    margin-left: 16px;
}

.navbar__links,
.navbar__cta {
    display: none;
}

.navbar__list {
    display: flex;
    column-gap: 12rem;
    align-items: center;
}

/* navbar : tablet version */
@media screen and (min-width:768px) {

    .navbar__toggler {
        display: none;
    }

    .navbar__links {
        display: flex;
        column-gap: 4rem;
    }

    .navbar__link a {
        text-decoration: none;
        color: #000;
        font-size: 1.6rem;
    }
}

/* navbar : desktop version */
@media screen and (min-width:1024px) {
    .navbar__cta {
        display: flex;
    }
}

/* buttons */
.btn {
    background-color: #1D2939;
    color: #fff;
    text-decoration: none;
    padding: 1.2rem 1.4rem;
    border-radius: 8px;
    font-size: 1.4rem;
}

/* badge */
.badge {
    background-color: #F2F4F7;
    padding: 1rem 3rem;
    border-radius: 100px;
}

/* block */
.block {
    padding: 2rem 5rem;
}

/* container */
.container {
    max-width: 640px;
    margin: 0 auto;
}

@media screen and (min-width:768px){
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1536px) {
    .container {
        max-width: 1536px;
        margin: 0 auto;
    }
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
    padding: 6rem 0;
}

.intro__title {
    font-weight: 700;
    background: linear-gradient(97.1deg, #C41740 4.8%, #EA9C28 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height:120%;
}

.intro__description {
    text-justify: justify;
    text-align: center;
}

.intro__badge {
    font-size: 1.2rem;
    font-weight: 700;
}

/* daily article */
.article {
    background-color: #F2F4F7;
}
.article__view-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.article__body {
    padding:3rem;
    
}

.article__image-mobile,
.article__image-desktop,
.article__image-tablet,
.article__image-default,
.article__image {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
