<section class="article">
    <div class="article__main">
      <div class="article__view-all container">
        <h2>Daily Digest</h2>
        <a class="btn btn--primary" href="#">View all</a>
      </div>
      <div class="article__item">
        <div class="article__body">
          <span class="article__date">AUGust 13, 2021 </span>
          <h2 class="article__title">
            10 Hilarious Cartoons That Depict Real-Life Problems of
            Programmers
          </h2>
          <p class="article__description">
            Redefined the user acquisition and redesigned the onboarding
            experience, all within 3 working weeks.
          </p>
        </div>
        <picture class="article__image">
          <source
            class="article__image-mobile"
            media="(max-width:640px)"
            srcset="/assets/images/Article_Thumbnail_mobile.svg"
          />
          <source
            class="article__image-tablet"
            media="(max-width:768px)"
            srcset="/assets/images/Article_Thumbnail_tablet.svg"
          />
          <img
            class="article__image-default"
            src="/assets/images/Article_Thumbnail_desktop.svg"
            alt=""
          />
        </picture>
      </div>
      <div class="article__item">
        <div class="article__body">
          <div class="article__date">AUGust 13, 2021</div>
          <h2 class="article__title">
            10 Hilarious Cartoons That Depict Real-Life Problems of
            Programmers
          </h2>
          <p class="article__description">
            Redefined the user acquisition and redesigned the onboarding
            experience, all within 3 working weeks.
          </p>
        </div>
        <picture class="article__image">
          <source
            class="article__image-mobile"
            media="(max-width:640px)"
            srcset="/assets/images/Article_Thumbnail_1_mobile.svg"
          />
          <source
            class="article__image-tablet"
            media="(max-width:768px)"
            srcset="/assets/images/Article_Thumbnail_1_mobile.svg"
          />
          <img
            class="article__image-default"
            src="/assets/images/Article_Thumbnail_1_mobile.svg"
            alt=""
          />
        </picture>
      </div>
      <div class="article__item">
        <div class="article__body">
          <span class="article__date">AUGust 13, 2021 </span>
          <h2 class="article__title">
            10 Hilarious Cartoons That Depict Real-Life Problems of
            Programmers
          </h2>
          <p class="article__description">
            Redefined the user acquisition and redesigned the onboarding
            experience, all within 3 working weeks.
          </p>
        </div>
        <picture class="article__image">
          <source
            class="article__image-mobile"
            media="(max-width:640px)"
            srcset="/assets/images/Article_Thumbnail_2_mobile.svg"
          />
          <source
            class="article__image-tablet"
            media="(max-width:768px)"
            srcset="/assets/images/Article_Thumbnail_2_mobile.svg"
          />
          <img
            class="article__image-default"
            src="/assets/images/Article_Thumbnail_2_mobile.svg"
            alt=""
          />
        </picture>
      </div>
    </div>

    <div class="article__view-all container">
      <h2>Design Tools</h2>
      <a class="btn btn--primary" href="#">View all</a>
    </div>
    <div class="article__item">
      <div class="article__body">
        <span class="article__date">AUGust 13, 2021 </span>
        <h2 class="article__title">
          10 Hilarious Cartoons That Depict Real-Life Problems of
          Programmers
        </h2>
        <p class="article__description">
          Redefined the user acquisition and redesigned the onboarding
          experience, all within 3 working weeks.
        </p>
      </div>
      <picture class="article__image">
        <source
          class="article__image-mobile"
          media="(max-width:640px)"
          srcset="/assets/images/Article_Thumbnail_3_mobile.svg"
        />
        <source
          class="article__image-tablet"
          media="(max-width:768px)"
          srcset="/assets/images/Article_Thumbnail_3_mobile.svg"
        />
        <img
          class="article__image-default"
          src="/assets/images/Article_Thumbnail_3_mobile.svg"
          alt=""
        />
      </picture>
    </div>
    <div class="article__item">
      <div class="article__body">
        <div class="article__date">AUGust 13, 2021</div>
        <h2 class="article__title">
          10 Hilarious Cartoons That Depict Real-Life Problems of
          Programmers
        </h2>
        <p class="article__description">
          Redefined the user acquisition and redesigned the onboarding
          experience, all within 3 working weeks.
        </p>
      </div>
      <picture class="article__image">
        <source
          class="article__image-mobile"
          media="(max-width:640px)"
          srcset="/assets/images/Article_Thumbnail_4_mobile.svg"
        />
        <source
          class="article__image-tablet"
          media="(max-width:768px)"
          srcset="/assets/images/Article_Thumbnail_4_mobile.svg"
        />
        <img
          class="article__image-default"
          src="/assets/images/Article_Thumbnail_4_mobile.svg"
          alt=""
        />
      </picture>
    </div>
    <div class="article__item">
      <div class="article__body">
        <span class="article__date">AUGust 13, 2021 </span>
        <h2 class="article__title">
          10 Hilarious Cartoons That Depict Real-Life Problems of
          Programmers
        </h2>
        <p class="article__description">
          Redefined the user acquisition and redesigned the onboarding
          experience, all within 3 working weeks.
        </p>
      </div>
      <picture class="article__image">
        <source
          class="article__image-mobile"
          media="(max-width:640px)"
          srcset="/assets/images/Article_Thumbnail_5_mobile.svg"
        />
        <source
          class="article__image-tablet"
          media="(max-width:768px)"
          srcset="/assets/images/Article_Thumbnail_5_mobile.svg"
        />
        <img
          class="article__image-default"
          src="/assets/images/Article_Thumbnail_5_mobile.svg"
          alt=""
        />
      </picture>
    </div>
    
    <div class="article__view-all container">
      <h2>Tutorials</h2>
      <a class="btn btn--primary" href="#">View all</a>
    </div>
    <div class="article__item">
      <div class="article__body">
        <span class="article__date">AUGust 13, 2021 </span>
        <h2 class="article__title">
          10 Hilarious Cartoons That Depict Real-Life Problems of
          Programmers
        </h2>
        <p class="article__description">
          Redefined the user acquisition and redesigned the onboarding
          experience, all within 3 working weeks.
        </p>
      </div>
      <picture class="article__image">
        <source
          class="article__image-mobile"
          media="(max-width:640px)"
          srcset="/assets/images/Article_Thumbnail_6_mobile.svg"
        />
        <source
          class="article__image-tablet"
          media="(max-width:768px)"
          srcset="/assets/images/Article_Thumbnail_6_mobile.svg"
        />
        <img
          class="article__image-default"
          src="/assets/images/Article_Thumbnail_6_mobile.svg"
          alt=""
        />
      </picture>
    </div>
    <div class="article__item">
      <div class="article__body">
        <div class="article__date">AUGust 13, 2021</div>
        <h2 class="article__title">
          10 Hilarious Cartoons That Depict Real-Life Problems of
          Programmers
        </h2>
        <p class="article__description">
          Redefined the user acquisition and redesigned the onboarding
          experience, all within 3 working weeks.
        </p>
      </div>
      <picture class="article__image">
        <source
          class="article__image-mobile"
          media="(max-width:640px)"
          srcset="/assets/images/Article_Thumbnail_7_mobile.svg"
        />
        <source
          class="article__image-tablet"
          media="(max-width:768px)"
          srcset="/assets/images/Article_Thumbnail_7_mobile.svg"
        />
        <img
          class="article__image-default"
          src="/assets/images/Article_Thumbnail_7_mobile.svg"
          alt=""
        />
      </picture>
    </div>
    <div class="article__item">
      <div class="article__body">
        <span class="article__date">AUGust 13, 2021 </span>
        <h2 class="article__title">
          10 Hilarious Cartoons That Depict Real-Life Problems of
          Programmers
        </h2>
        <p class="article__description">
          Redefined the user acquisition and redesigned the onboarding
          experience, all within 3 working weeks.
        </p>
      </div>
      <picture class="article__image">
        <source
          class="article__image-mobile"
          media="(max-width:640px)"
          srcset="/assets/images/Article_Thumbnail_8_mobile.svg"
        />
        <source
          class="article__image-tablet"
          media="(max-width:768px)"
          srcset="/assets/images/Article_Thumbnail_8_mobile.svg"
        />
        <img
          class="article__image-default"
          src="/assets/images/Article_Thumbnail_5_mobile.svg"
          alt=""
        />
      </picture>
    </div>


  </div>
  </section>