<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>home Page</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar container block">
        <a class="navbar__logo" href="http://127.0.0.1:8000/">
          <img src="/assets/images/personally-logo.svg" alt="logo" />
        </a>
        <div class="navbar__toggler">
          <div class="bar bar-one"></div>
          <div class="bar bar-two"></div>
          <div class="bar bar-three"></div>
        </div>
        <div class="navbar__list">
          <ul class="navbar__links">
            <li class="navbar__link">
              <a href="http://127.0.0.1:8000/category/programming"
                >Programming</a
              >
            </li>

            <li class="navbar__link">
              <a href="http://127.0.0.1:8000/category/web">Web</a>
            </li>

            <li class="navbar__link">
              <a href="http://127.0.0.1:8000/category/general">General</a>
            </li>

            <li class="navbar__link"><a href="/login/">Login</a></li>
            <li class="navbar__link"><a href="/register/">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main">
      <div class="account">
        <div class="forgot-password">
          <form class="forgot-password__form" action="" method="post">
            <input
              type="hidden"
              name="csrfmiddlewaretoken"
              value="G9e9GWp0EE0pkUJ0Iqw1o5ev0L88VrIHUt5Y4zfY6Q8OkH27nGdcLymr6GVhoBw0"
            />
            <h2>forgot password</h2>
            <div class="form-item">
              <input
                type="email"
                name="email"
                class="register__form-item register__email"
                placeholder="email"
                required=""
                id="id_email"
              />
            </div>
            <button type="submit" class="login__btn btn btn--success">
              reset password
            </button>
          </form>
        </div>
      </div>

      <section class="newsletter">
        <h1 class="newsletter__title">Personally Newsletter</h1>
        <p class="newsletter__description">
          A bi-weekly newsletter of design inspiration,&nbsp; resources and
          anything related to career development.
        </p>
        <form class="newsletter__form" action="">
          <input
            placeholder="Email Address"
            class="newsletter__input"
            type="text"
          />
          <input class="newsletter__button btn" type="submit" />
        </form>
      </section>

      <div class="separator"></div>
      <footer class="footer">
        <p>Copyright 2022 - Reza Shakeri</p>
      </footer>
    </main>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/infinite.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
