<header class="header">
    <nav class="navbar">
        <a class="navbar__logo" href="#">
            <img src="/assets/images/personally-logo.svg" alt="logo">
        </a>
        <div class="navbar__list">
            <ul class="navbar__links">
                <li class="navbar__link"><a href="#">Daily Digest</a></li>
                <li class="navbar__link"><a href="#">Design Tools</a></li>
                <li class="navbar__link"><a href="#">Tutorials</a></li>
            </ul>
            <a class="navbar__cta btn" href="#">Subscribe</a>
        </div>
        <div class="navbar__toggler">
            <div class="bar bar-one"></div>
            <div class="bar bar-two"></div>
            <div class="bar bar-three"></div>
        </div>
    </nav>
</header>