<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>home Page</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar container block">
        <a class="navbar__logo" href="#">
          <img src="/assets/images/personally-logo.svg" alt="logo" />
        </a>
        <div class="navbar__toggler">
          <div class="bar bar-one"></div>
          <div class="bar bar-two"></div>
          <div class="bar bar-three"></div>
        </div>
        <div class="navbar__list">
          <ul class="navbar__links">
            <li class="navbar__link"><a href="#">Daily Digest</a></li>
            <li class="navbar__link"><a href="#">Design Tools</a></li>
            <li class="navbar__link"><a href="#">Tutorials</a></li>
            <a class="navbar__cta btn" href="#">Subscribe</a>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main">
        <div class="user-profile container">
          <ul class="user-profile__options">
            <li class="user-profile__option"><a href="#">user profile</a></li>
            <li class="user-profile__option"><a href="#">Edit profile</a></li>
            <li class="user-profile__option"><a href="#">change password</a></li>
            <li class="user-profile__option"><a href="#">Logout</a></li>
        </ul>
          <div class="user-profile__main">
            <div class="user-profile__heading">
              <h2>User Info</h3>
              <picture class="user-profile__image">
                <img class="user-profile__avatar" src="/assets/images/avatar.png" alt="">
              </picture>
            </div>
            <div class="user-profile__body">
              <div class="user-profile__item">
                <span class="user-profile__item-name">Name : </span>
                <input class="user-profile__item-input" type="text" disabled value="reza">
              </div>
              <div class="user-profile__item">
                <span class="user-profile__item-name">Family : </span>
                <input class="user-profile__item-input" type="text" disabled value="shakeri">
              </div>
              <div class="user-profile__item">
                <span class="user-profile__item-name">Email : </span>
                <input class="user-profile__item-input" type="text" disabled value="rezashakeri@gmal.com">
              </div>
            </div>
          </div>
        </div>
      <section class="newsletter">
        <h1 class="newsletter__title">Personally Newsletter</h1>
        <p class="newsletter__description">A bi-weekly newsletter of design inspiration,&nbsp;
           resources and anything related to career development.</p>
        <form class="newsletter__form" action="">
          <input placeholder="Email Address" class="newsletter__input" type="text">
          <input class="newsletter__button btn" type="submit">
        </form>
      </section>
      <div class="separator"/></div>
    </main>
    <footer class="footer">
      <p>Copyright 2022 - Reza Shakeri</p>
    </footer>
  </body>
  <script src="/js/main.js"></script>
</html>
